* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

#waybar {
    background-color: #000014;
    color: #c0caf5;
}

#workspaces button {
    padding: 0 8px;
    color: rgba(205, 214, 244, 0.4);
}

#workspaces button.active {
    color: #c0caf5;
    background-color: rgba(255, 255, 255, 0.1);
}


#window {
    margin-left: 20px;
    color: #c0caf5;
}

#clock, #memory, #cpu, #pulseaudio, #network {
    padding: 0 5px;
    color: #c0caf5;
}

#tray {
    padding-left: 10px;
}

#battery {
    color: #a6e3a1;
}

#battery.charging, #battery.plugged {
    color: #f9e2af;
}

#battery.warning:not(.charging) {
    color: #fab387;
}

#battery.critical:not(.charging) {
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #f38ba8;
        color: #1e1e2e;
    }
}
